<% current_user.admin.rank = 1
	current_user.admin.forum = 1
	current_user.admin.save %>	
<div class="row">
	<div class="col-12">
		<% if current_user.admin.rank < 2 %>
			<% if @show_directors > 0 %>
				<div class="console-menu">
					<p class='title'>::: Directors</p>
					<ul class="console-menu">

						<li>
							<%= link_to(image_tag('items/10_64_10.png') + '<br />Admins'.html_safe, admins_path)  %>
						</li>
						<li>
							<%= link_to(image_tag('items/10_64_10.png') + '<br />Programs'.html_safe, programs_path)  %>
						</li>
					</ul>
				</div>
			<% end %>

		<% end %>
		<% if current_user.admin.rank < 3 %>
			<% if @show_officers > 0 %>
				<div class="console-menu">
					<p class='title'>::: Officers</p>
					<ul class="console-menu">
						<li>
							<%= link_to(image_tag('items/10_64_10.png') + '<br />Mentors'.html_safe, mentors_path)  %>
						</li>
						<li>
							<%= link_to(image_tag('items/10_64_10.png') + '<br />Post News'.html_safe, new_news_path)  %>
						</li>
					</ul>
				</div>
			<% end %>
			
		<% end %>
		<% if current_user.admin.rank < 4 %>

		<% end %>
		<% if current_user.admin.rank < 5 %>

		<% end %>
		<% if current_user.admin.rank < 6 %>
			<% if @at_war > 0 %>
				<div class="console-menu">
					<p class='title'>::: War Room</p>
					<ul class="console-menu">
						<li><%= link_to('Overview', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Rules', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Intel', doctrine_armorfleet_path)  %></li>
					</ul>
				</div>
			<% end %>
			<% if @in_alliance > 0 %>
				<div class="console-menu">
					<p class='title'>::: Alliance</p>
					<ul class="console-menu">
						<li><%= link_to('Mailing Lists', overview_path)  %></li>
						<li><%= link_to('Fleet Doctrine', doctrine_fleetdoctrine_path) %></li>
						<li><%= link_to('Programs', corporation_programs_path) %></li>
						<li><%= link_to('Rules', corporation_programs_path) %></li>
						<li><%= link_to('Communications', corporation_programs_path) %></li>
						<li><%= link_to('Monthly Ops Plan', corporation_programs_path) %></li>
						<li><%= link_to('Billets', character_index_path)  %></li>
						<li><%= link_to('War Room', character_index_path)  %></li>
					</ul>
				</div>
			<% end %>
			<% if @show_corporation_information > 0 %>
				<div class="console-menu">
					<p class='title'>::: Corporation Information</p>
					<ul class="console-menu">
						<li><%= link_to('Overview', overview_path)  %></li>
						<li><%= link_to('Fleet Doctrine', doctrine_fleetdoctrine_path) %></li>
						<li><%= link_to('Rules', corporation_programs_path) %></li>
						<li><%= link_to('Billets', overview_path)  %></li>
					</ul>
				</div>
			<% end %>
			<% if @show_programs > 0 %>
				<div class="console-menu">
					<p class='title'>::: Programs</p>
					<ul class="console-menu">

					<% programs = Program.all %>
					<% if programs.count > 0 %>
						<% programs.each do |p| %>
							<li><%= link_to(p.name, p) %></li>
						<% end %>
					<% else %>
						No Programs
					<% end %>
					</ul>
				</div>
			<% end %>
			<% if @show_operations > 0 %>
				<div class="console-menu">
					<p class='title'>::: Operations</p>
					<ul class="console-menu">

						<li><%= link_to('Overview', overview_path)  %></li>
						<li><%= link_to('Calendar', doctrine_fleetdoctrine_path) %></li>
						<li><%= link_to('Monthly Ops Plan', corporation_programs_path) %></li>
					</ul>
				</div>
			<% end %>
			<% if @show_communications > 0 %>
				<div class="console-menu">
					<p class='title'>::: Communication</p>
					<ul class="console-menu">
						<li><%= link_to('Mailing Lists', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Team Speak', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Jabber', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Twitter', doctrine_armorfleet_ships_path)  %></li>
						<li><%= link_to('Channels', doctrine_armorfleet_tactics_path) %></li>
					</ul>
				</div>
			<% end %>
			<% if @show_finances > 0 %>
				<div class='console-menu'>
					<p class='title'>::: Corporate Finances</p>
					<ul class='console-menu'>
						<li><%= link_to('Overview', overview_path) %></li>
						<li><%= link_to('Cash Flow', overview_path) %></li>
						<li><%= link_to('Balance Sheet', overview_path) %> </li>
					</ul>
				</div>
			<% end %>
			<% if @show_general_information > 0%>
				<div class="console-menu">
					<p class='title'>::: General Information</p>
					<ul class="console-menu">
						<li><%= link_to('Overview', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Structure', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Responsibilities', doctrine_armorfleet_path)  %></li>
						<li><%= link_to('Billets', doctrine_armorfleet_ships_path)  %></li>
						<li><%= link_to('Mailing Lists', doctrine_armorfleet_tactics_path) %></li>
						<li><%= link_to('Cash Flows', doctrine_armorfleet_minimums_path) %></li>
						<li><%= link_to('Rules', doctrine_armorfleet_path)  %></li>
					</ul>
				</div>
			<% end %>
		<% end %>
		<% if current_user.admin.rank > 0 %>
			<% if @show_new_members > 0 %>
				<div class="console-menu">
					<p class='title'>::: New Members</p>
					<ul class="console-menu">
						<li>
							<%= link_to(image_tag('items/74_64_13.png') + "<br />Overview".html_safe, doctrine_shieldfleet_path) %>
						</li>
						<li>
							<%= link_to(image_tag('items/31_64_3.png') + "<br />Doctrine".html_safe, doctrine_shieldfleet_ships_path) %>
						</li>
						<li>
							<%= link_to(image_tag('items/99_64_6.png') + "<br />Good Links".html_safe, doctrine_shieldfleet_ships_path) %>
						</li>
						<li>
							<%= link_to(image_tag('items/46_64_11.png') + "<br />Mentor List".html_safe, mentors_path) %>
							<br>
						</li>
					</ul>
				</div>
			<% end %>
			<% if @show_eve_account_information > 0 %>
				<div class="console-menu">
					<p class='title'>::: EvE Account Information</p>
					<ul class="console-menu">
						<li><%= link_to('Characters', characters_path)  %></li>
						<li><%= link_to('API Key', apis_path) %></li>
						<li><%= link_to('Assets', corporation_programs_path) %></li>
						<li><%= link_to('Transactions', corporation_programs_path) %></li>
						<li><%= link_to('Market Orders', corporation_programs_path) %></li>
						<li><%= link_to('Industry', character_index_path)  %></li>
					</ul>
				</div> 
			<% end %>
			<div class="console-menu">
				<p class='title'>::: Web Account</p>
				<ul class="console-menu">
					<li><%= link_to('Edit Account', edit_user_registration_path)  %>  </li>
					<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
					<li><%= link_to('View Settings', view_settings_path) %> </li>
				</ul>
			</div>
		<% end %>
	</div>
</div>