<div class="col-2">
	<div class="console-menu">
		<ul class="console-menu">
			<li class="title">General Information</li>
			<li><%= link_to('Overview', doctrine_armorfleet_path)  %></li>
			<li><%= link_to('Structure', doctrine_armorfleet_path)  %></li>
			<li><%= link_to('Responsibilities', doctrine_armorfleet_path)  %></li>
			<li><%= link_to('Billets', doctrine_armorfleet_ships_path)  %></li>
			<li><%= link_to('Mailing Lists', doctrine_armorfleet_tactics_path) %></li>
			<li><%= link_to('Cash Flows', doctrine_armorfleet_minimums_path) %></li>
			<li><%= link_to('Rules', doctrine_armorfleet_path)  %></li>
		</ul>
	</div>
	<div>
		&nbsp;
	</div>
	<div class="console-menu">
		<ul class="console-menu">
			<li class="title">Financial Information</li>
			<li><%= link_to('Overview', doctrine_shieldfleet_path)  %></li>
			<li><%= link_to('Cash Flows', doctrine_shieldfleet_ships_path)  %></li>
			<li><%= link_to('Business Plan', doctrine_shieldfleet_minimums_path) %></li>
		</ul>
	</div>
	<div>
		&nbsp;
	</div>
	<div class="console-menu">
		<ul class="console-menu">
			<li class="title">New Members</li>
			<li><%= link_to('Overview', doctrine_shieldfleet_path)  %></li>
			<li><%= link_to('Doctrine', doctrine_shieldfleet_ships_path)  %></li>
			<li><%= link_to('Tactics', doctrine_shieldfleet_tactics_path) %></li>
			<li><%= link_to('Minimums', doctrine_shieldfleet_minimums_path) %></li>
		</ul>
	</div>
	<%= render 'sidebars/return_sidebar' %>
</div>
