<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @username.username %>
</p>

<p>
  <strong>User:</strong>
  <%= @username.user %>
</p>

<%= link_to 'Edit', edit_username_path(@username) %> |
<%= link_to 'Back', usernames_path %>
