<div class="row">

	<div class="col-12">
		<div class='title'>
			Console
		</div>
		<div class="content-background">
			<div>
				<% @updateApi %>
				<h3>Characters:</h3> <br>	
				<% @characterArray.each do |a| %>
				<%= a %> <br>
				<% end %>
				
				<br> <%= current_user.second_characters %> <br> <%= current_user.third_characters %><br>
				Api ID: <%= current_user.api_keys %> <br>
				API VCode: <%= current_user.api_vcodes %> <br>
				DB Key: <%= @key_id %><br>
				DB Vcode: <%= @v_code %><br>
				Test: <%= @Test %>

				<br>

				Test 2: <%= current_user.id %>


			</div>
		</div>
	</div>
	<%= render 'sidebars/console_cluster' %>
</div>