<div class="row">
	<%= render 'sidebars/console_sidebar' %>
	<div class="col-10">
		<div class='title'>
			Console
		</div>
		<div class="content-background">
			<div>
				<h3>Characters:</h3> <br>	
				<% @characters.each do |a| %>
					<%= a %><br>
				<% end %>

				<br> <%= current_user.second_characters %> <br> <%= current_user.third_characters %><br>
				Api ID: <%= current_user.api_keys %> <br>
				API VCode: <%= current_user.api_vcodes %> <br>
				Test: <%= @Test %>


			</div>
		</div>
	</div>
</div>